<!--User info-->
@await Component.InvokeAsync("Cart")
<div class="dropdown ml-4 nav-color">
    <div class="dropdown-toggle" id="dropdownMenuBotton"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="false">
        <img src="images/avatar.jpg" width="30" alt="User" class="rounded" />
    </div>
    <div class="dropdown-menu"
         aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item-text">
            <img src="images/avatar.jpg" width="50"
                 alt="User"
                 class="rounded" />
            user@gmail.com
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Cart" asp-action="Index"> My goods</a>
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout"> Log off</a>
    </div>
</div>
<!--User info - end-->