@page
@model WEB_953505_Grits.Areas.Admin.Pages.CreateModel
@{

    ViewData["Title"] ="Create";
}


<h1>Create</h1>

<h4>Bouquet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bouquet.BouquetName" class="control-label"></label>
                <input asp-for="Bouquet.BouquetName" class="form-control" />
                <span asp-validation-for="Bouquet.BouquetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bouquet.Description" class="control-label"></label>
                <input asp-for="Bouquet.Description" class="form-control" />
                <span asp-validation-for="Bouquet.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bouquet.Image" class="control-label"></label>
                <div class="custom-file mt-3">
                    <input type="file" asp-for="Image"
                           class="custom-file-input" id="customFile" />
                    <label class="custom-file-label"
                           for="customFile">Choose file</label>
                </div>
 
            </div>
            <div class="form-group">
                <label asp-for="Bouquet.BouquetGroupId" class="control-label"></label>
                <select asp-for="Bouquet.BouquetGroupId" class="form-control" asp-items="ViewBag.BouquetGroupId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {

    <script src="~/js/bs-custom-file-input.js"></script>
    <script>
        bsCustomFileInput.init();
    </script>
}

