header {
    background-color: #343a40;
}

footer {
    position: fixed;
    height: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #343a40;
}

.nav-color {
    color: rgba(255,255,255,0.5)
}

.header-color {
    color: white
}
